body{
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp4798184.jpg);
    background-size: 100%;
    margin-top: 350px;
}

.bagian-profile p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 35px;
}

.bagian-profile{
    margin-bottom: 70px;
}

.coba a{
    text-decoration: none;
    color: #0f1923;
}

.coba{
    margin-top:35px;
}

.btn{
    background-color: #ff4655;
    padding: 10px;
    width: 70%;
    height: 120px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
}

.copy-right p{
    color: rgb(214, 214, 214);
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 150px;
}
